* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis";
  text-decoration: none;
}
body {
  line-height: 1.5;
  background: white;
  color: white;
}
/* Custom padding */
.py1 {
  padding: 0.5rem;
}
.py2 {
  padding: 0.8rem;
}
.py3 {
  padding: 1.2rem;
}

/* Custom fonts sizes */
.f1 {
  font-size: 50px;
}
.f2 {
  font-size: 40px;
}
.f3 {
  font-size: 30px;
}

.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
/* Desktop width and tablet width*/
@media only screen and (min-width: 421px) {
  /* Home page */
  .home {
    display: flex;
    background: url("/abstract-technology-particle-background_52683-25766.jpg")
      no-repeat center center / cover;
    height: 100vh;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;
  }

  /*Nav bar  */
  .home .navbar {
    display: flex;
    background: black;

    width: 100%;
    padding: 15px;
    top: 0;
    left: 0;
    position: fixed;
  }

  .home .navbar a {
    margin: 5px;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 20px;
    position: relative;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #f161e3);
    background-size: 300%;
    z-index: 1;
  }
  .home .navbar a:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 300%;
    }
  }

  .home .navbar a:before {
    content: "";
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #f161e3);
    z-index: -1;
    background-size: 400%;
    border-radius: 50%;
  }

  .home .navbar a:hover:before {
    filter: blur(20px);
  }

  .home .myimg {
    background: url(/item7.png) no-repeat center center / cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.3) solid;
    align-self: center;
    margin-top: 10%;
  }

  #footer {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
    background: black;
  }
  i {
    font-size: 40px;
  }
  .copyright {
    background: white;
    color: rgb(112, 37, 233);
    text-align: center;
    background: black;
  }
}

/* ......... Media quirey max - width 420px........  */

@media only screen and (max-width: 420px) {
  /* Home page */
  .home {
    display: flex;
    background: url("/abstract-technology-particle-background_52683-25766.jpg")
      no-repeat center center / cover;
    height: 100vh;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;
  }

  /*Nav bar  */
  .home .navbar {
    display: flex;
    background: black;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .home .navbar a {
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #f161e3);
    background-size: 300%;
    z-index: 1;
  }
  .home .navbar a:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 300%;
    }
  }

  .home .navbar a:before {
    content: "";
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #f161e3);
    z-index: -1;
    background-size: 400%;
    border-radius: 50%;
  }

  .home .navbar a:hover:before {
    filter: blur(20px);
  }

  .home .myimg {
    background: url("/item7.png") no-repeat center center / cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.3) solid;
    align-self: center;
    margin-top: 30%;
  }

  /* footer */
  #footer {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
  }
  i {
    font-size: 25px;
  }

  .copyright {
    font-size: 10px;
    background: white;
    color: rgb(112, 37, 233);
    text-align: center;
  }
}

